.postReadingArea,
.postWritingArea {
  background-color: var(--soft-background);
  color: white;
  font-size: 1rem;
  line-height: 1.5;
  padding: 15px;
  width: 95%;
  border: var(--light-border);
  border-radius: 15px;
  font-family: var(--app-font);
}

.postWritingArea:disabled {
  cursor: not-allowed;
}

.postReadingArea {
  white-space: pre-line;
  margin: auto;
  text-align: justify;
}
