services:
  db:
    image: postgres:18.0-alpine3.22
    restart: unless-stopped
    expose: ["5432"]
    env_file: .env
    volumes: [pg_data:/var/lib/postgresql]
    networks: [backend]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:?error} -d ${POSTGRES_DB:?error}"]
      interval: 5s
      timeout: 5s
      retries: 6
      start_period: 2s

  migrate:
    image: "ghcr.io/noahkawaguchi/spur:${SPUR_IMG_TAG:?error}"
    entrypoint: ["/migrate"]
    env_file: .env
    environment:
      DATABASE_URL: ${DOCKER_DATABASE_URL:?error}
    networks: [backend]
    depends_on:
      db: { condition: service_healthy }

  seed:
    image: "ghcr.io/noahkawaguchi/spur:${SPUR_IMG_TAG:?error}"
    profiles: ["init"]
    entrypoint: ["/seed"]
    env_file: .env
    environment:
      DATABASE_URL: ${DOCKER_DATABASE_URL:?error}
    networks: [backend]
    depends_on:
      db: { condition: service_healthy }
      migrate: { condition: service_completed_successfully }

  spur:
    image: "ghcr.io/noahkawaguchi/spur:${SPUR_IMG_TAG:?error}"
    restart: unless-stopped
    expose: ["8080"]
    env_file: .env
    environment:
      DATABASE_URL: ${DOCKER_DATABASE_URL:?error}
    networks: [backend]
    depends_on:
      db: { condition: service_healthy }
      migrate: { condition: service_completed_successfully }

  caddy:
    image: caddy:2.10.2-alpine
    restart: unless-stopped
    ports: ["80:80", "443:443"]
    env_file: .env
    volumes:
      - ./caddy_conf:/etc/caddy:ro # Directory containing the Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks: [backend]
    depends_on:
      spur: { condition: service_healthy }


volumes:
  pg_data: {}
  caddy_data: {}
  caddy_config: {}

networks:
  backend: {}
