################################################################################
# Both dev and prod
################################################################################

# The tag (version) for the Spur Docker image
SPUR_IMG_TAG=0.1.3

# PG credentials used when creating the DB and provided inside the DB URLs below
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# DB URL used from inside Docker by the running binaries.
# Replace <these sections> with the values from above.
DOCKER_DATABASE_URL=postgres://<pg_user>:<pg_pw>@db:5432/<pg_db>

# Contact email for ACME account created by Caddy
CADDY_EMAIL=

# The domain to reverse proxy to the Spur API. Explicitly use HTTP, e.g.
# http://localhost, to disable Caddy's automatic HTTPS, ACME account creation,
# etc.
SPUR_DOMAIN=http://localhost

# The bind address for the backend server. This should stay exactly as is unless
# also changing the port in `docker-compose.yml` and the `Caddyfile`.
BIND_ADDR=0.0.0.0:8080

# Secret key used for creating and validating tokens
JWT_SECRET=put_the_secret_here

# Frontend URL for CORS to allow
FRONTEND_URL=http://localhost:5173

# Passwords used when seeding the database. Must meet the actual requirements:
# - At least 10 characters
# - At most 72 bytes
# - At least one lowercase letter, uppercase letter, digit, and special
#   character
SPURT_PW=
ALICE_PW=
BOB_PW=
CHAR_PW=
DIEGO_PW=
EMI_PW=

################################################################################
# Dev only
################################################################################

# DB URL used from outside Docker in dev.
# Uncomment and replace <these sections> with the values from above.

# DATABASE_URL=postgres://<pg_user>:<pg_pw>@localhost:5432/<pg_db>?sslmode=disable
