@keyframes jockey-slide {
  0% {
    transform: translateX(95%);
  }
  49% {
    transform: translateX(5%);
  }
  50% {
    transform: translateX(95%);
  }
  99% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(95%);
  }
}

@keyframes jockey-flip {
  0% {
    visibility: visible;
    transform: scaleX(-1);
  }
  48% {
    visibility: hidden;
  }
  49% {
    visibility: hidden;
    transform: scaleX(-1);
  }
  50% {
    visibility: visible;
    transform: scaleX(1);
  }
  98% {
    visibility: hidden;
  }
  99% {
    visibility: hidden;
    transform: scaleX(1);
  }
  100% {
    visibility: visible;
    transform: scaleX(-1);
  }
}

@keyframes gallop {
  0% {
    translate: 0% 0%;
  }
  50% {
    translate: 0% 15%;
  }
  100% {
    translate: 0% 0%;
  }
}

.jockey {
  font-size: 2.5rem;
  margin-bottom: -5px;
  animation:
    jockey-slide 30s linear infinite,
    gallop 1s infinite;
}

.jockeyFlipper {
  animation: jockey-flip 30s steps(2, end) infinite;
}

.jockeyBackground {
  background-color: lightblue;
  border-radius: 15px;
  border-bottom: 15px solid forestgreen;
}
