#root {
  max-width: 1000px;
  margin: auto;
  padding: 10px;
}

header {
  background-color: var(--soft-background);
  padding: 5px;
  border: var(--light-border);
  border-radius: 25px;
}

nav {
  text-align: center;
}

input,
button {
  font-size: 1rem;
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
}

button {
  cursor: pointer;
}

button:enabled:hover {
  background-color: var(--accent-color);
}

button:enabled:active {
  transform: scale(0.9);
}

button:disabled,
input:disabled {
  background-color: gray;
  cursor: not-allowed;
}

hr {
  margin: 15px auto;
}

table {
  width: 100%;
  text-align: left;
  border-spacing: 5px;
}

td,
th {
  border: var(--light-border);
  border-radius: 10px;
  padding: 10px;
  background-color: var(--soft-background);
}

.button-cell {
  white-space: nowrap;
  padding: 5px;
  width: 0;
}
