.headerTitle {
  text-align: center;
  width: max-content;
  margin: 20px auto;
  padding: 5px;
}

@keyframes title-twist {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.headerTitle:hover {
  color: var(--accent-color);
  font-style: italic;
  cursor: default;
  animation: title-twist 0.4s 1;
}
